# IDEA IDE
.idea/

# any checkpoint
**/.ipynb_checkpoints

# Environments
.env
env

# Distribution / packaging
/build
/dist/
*.egg-info/

# Unit test / coverage reports
.cache

/alerts/*

*.ipynb
notebooks/